<!DOCTYPE html>
<html>
<head>
<title>Create student</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type='text/javascript' src="../js/createStudent.js"></script>
	<form id="create">
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" id="name" name='name' /></td>
			</tr>
			<tr>
				<td>Surname:</td>
				<td><input type="text" id="surname" name='surname' /></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="text" id="email" name='email' /></td>
			</tr>
			<tr>
				<td>University:</td>
				<td><select name="university_select" style="width: 130px">
						<div id="university_list"></div>
				</select></td>
			</tr>
			<tr>
				<td><button type="submit" value="Submit" onclick="createStudent()">Submit</button></td>
			</tr>
		</table>
	</form>
</body>
</html>